/*
#=====================================================================================
#Jack Brandt
#Course: CPSC 321
#Assignment: Final
#Date of current version: 12/??/2024
#Brief description of what program does:
#    css style, i have no idea what css is... I'm just following the w3 tutorial
#=====================================================================================
*/

body {
    background-color: #F4F4F4;
    margin: 0;
  }
h1 {
    font-family: sans-serif;
    color:white;
    font-size:200%;
    text-align:center;
    margin-top: 0;
    padding: 1%;
}
p {
    color: black;
    font-family: Arial;
    font-size:150%;
    margin: 20px;
    text-align: left;
}
p.top {
  color: white;
  text-align:center;
  margin: 0;
  margin-top: 1em;
  font-size:100%;
}
p.top:hover {
  color: #1f96db
}
p.no_hover {
  color: white;
  text-align:center;
  margin: 0;
  margin-top: 1em;
  font-size:100%;
}
div.header {
  background-color:#222b36;
  text-align: center;
  padding: 1%;
}
div.flex_header {
  background-color:#222b36;
  text-align: center;
  padding: 1%;
  display: flex;
}
div.top_bar {
  background-color:#222b36;
  color:white;
  margin-top: 0;
  display: flex;
  border-bottom: #F4F4F4;
}
div.meat {
  background-color:#222b36;
  color:white;
  margin-top: 0;
  display: flex;
}
div.top_butt {
  background-color: #222b36;
  color: white;
  padding: 20px;
  font-size:125%;
  text-indent: 10%;
  text-align: center;
  flex-grow: 1;
}
div.butt {
  background-color: white;
  color: #0078d4;
  padding: 20px;
  font-size:125%;
  text-indent: 10%;
  text-align: center;
  flex-grow: 1;
  border:1px solid black;
}
div.flex {
  display: flex;
}
a.nav {
  text-decoration: none;
  flex-grow: 1;
}
a {
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: #1f96db
}