<!--
Author:
Description:
Notes:
-->


<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>
            About Me
        </title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class=top_bar>
            <br>
            <div class='top_butt' style='margin-left: 3%; margin-right:15%;'>
                <a href="/">
                    <h1>
                        Jack Brandt
                    </h1>
                </a>
            </div>
            <div class="top_butt">
                <a href="exams">
                    <p class="top">
                        Actuarial Exams
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <a href="skills">
                    <p class="top">
                        Software/Skills
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <a href="coding">
                    <p class="top">
                        Coding
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <p class="no_hover">
                    |
                </p>
            </div>
            <div class="top_butt">
                <a href="resume">
                    <p class="top">
                        Resume
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <a href="about">
                    <p class="top">
                        About
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <a href="contact_me">
                    <p class="top">
                        Contact Me
                    </p>
                </a>
            </div>
        </div>
        <div style="height: 1px; background-color: white;"></div>
        about
    </body>
</html>