<!--
Author:
Description:
Notes:
-->


<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>
            Jack Brandt's Actuarial Portfolio
        </title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class=top_bar>
            <br>
            <h1>
                Jack Brandt's Portfolio
            </h1>
        </div>
        <p>
            To begin, choose what type of user you are:
        </p>
        <hr>
        <a href="/agent" class="nav">
            <div class="butt">
                <p>
                    Insurance agent looking to create, modify, or cancel policies, and/or add, remove, or update customer info
                </p>
                Go!
            </div>
        </a>
        <hr>
        <a href="/customer" class="nav">
            <div class="butt">
                <p>
                    Customer looking to add or track claim
                </p>
                    Go!
            </div>
        </a>
        <hr>
        <a href="/claims" class="nav">
            <div class="butt">
                <p>
                    Claims agent looking to modify claim status
                </p>
                    Go!
            </div>
        </a>
        <hr>
        <a href="/actu" class="nav">
            <div class="butt">
                <p>
                    Actuaries and actuarial analyts gathering data about policies, customers, claims, and/or evaluating/updating risk profiles of locations/customers
                </p>
                    Go!
            </div>
        </a>
        <hr>

    </body>
</html>