<!--
Author:
Description:
Notes:
-->


<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>
            Jack Brandt's Actuarial Portfolio
        </title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class=top_bar>
            <br>
            <div class='top_butt' style='margin-left: 3%; margin-right:15%;'>
                <h1>
                    Jack Brandt's Portfolio
                </h1>
            </div>
            <div class="top_butt">
                <a>
                    <p class="top">
                        Actuarial Exams
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <a>
                    <p class="top">
                        Software/Skills
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <a>
                    <p class="top">
                        Coding
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <p class="no_hover">
                    |
                </p>
            </div>
            <div class="top_butt">
                <a>
                    <p class="top">
                        Resume
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <a>
                    <p class="top">
                        About
                    </p>
                </a>
            </div>
            <div class="top_butt">
                <a>
                    <p class="top">
                        Contact Me
                    </p>
                </a>
            </div>
        </div>
        <img src="static\Actuarial Profile.png" alt="Picture of me" style="width:500px;height:450px;">
    </body>
</html>