<!--
Author:
Description:
Notes:
-->


<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>
            Jack's Insurance Homepage
        </title>
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <div class=header>
            <h1>
                Welcome to Jack's Insurance Website Homepage
            </h1>
            <p title="I've literally got my screen split between vsCode and the w3 html tutorial" class="header">
                I've never made a website before (nor taken any classes on it), so enjoy my first attempt at one.
            </p>
        </div>
        <p>
            To begin, choose what type of user you are:
        </p>
        <hr>
        <a href="/agent" class="nav">
            <div class="butt">
                <p>
                    Insurance agent looking to create, modify, or cancel policies, and/or add, remove, or update customer info
                </p>
                Go!
            </div>
        </a>
        <hr>
        <a href="/customer" class="nav">
            <div class="butt">
                <p>
                    Customer looking to add or track claim
                </p>
                    Go!
            </div>
        </a>
        <hr>
        <a href="/claims" class="nav">
            <div class="butt">
                <p>
                    Claims agent looking to modify claim status
                </p>
                    Go!
            </div>
        </a>
        <hr>
        <a href="/actu" class="nav">
            <div class="butt">
                <p>
                    Actuaries and actuarial analyts gathering data about policies, customers, claims, and/or evaluating/updating risk profiles of locations/customers
                </p>
                    Go!
            </div>
        </a>
        <hr>

    </body>
</html>